<div class="card m-2">
  <div class="card-header">
    <h5>Select Audio File -- Watson Speech to Text</h5>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label>User Name</label>
      <input class="form-control"
             type="text"
             [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control"
             type="text"
             [(ngModel)]="password">
    </div>
    <button class="btn btn-success m-2"
            type="button"
            (click)="onGetSession()">Get Session</button>
    <div class="row">
      <div class="col" *ngIf="authResult && authResult.result==='success'" >
        <h3>Credentials are valid - Session {{ authResult.data.session_id}}</h3>
        {{authResult| json}}
      </div>
      <div class="col" *ngIf="authResult && authResult.result==='error'" >
        <h3>Credentials are invalid - Error: {{authResult.data.errorMessage}}</h3>
      </div>
    </div>
    <div class="form-group">
      <label for="upload">Audio file</label>
      <input type="file" name="upload" id="upload" class="form-control"
             (change)="handleFileInput($event.target.files)">
    </div>
    <button class="btn btn-secondary m-3"
            type="button"
            [disabled]="disablePostSpeechToText"
            (click)="onSpeechToText()">
      Send to Speech To Text
    </button>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col">
        <label>Mime type: {{file && file.type?file.type:' None Selected'}}</label>
      </div>
    </div>
  </div>
</div>
